*.iml
*.xcworkspace/
*~
.DS_Store
.github/
.gradle/
.idea/
.metadata/
.settings/
Podfile.lock
Pods/
bin/
bower_components/
build/
coverage.em
coverage/
instrumentation/
junit-reports/
local.properties
node_modules/
proguard-project.txt
xcuserdata
main.jsbundle
.buckd/
buck-out/
mobile_sdk/
package-lock.json
package-lock.json.*