<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>remoteAccessConsumerKey</key>
	<string>3MVG9er.T8KbeePTyjpxAuJmo24kAKkzDbNG_hExqwflR.NeNm_EmJJf8Xx7OdEvtnCdcMKQ0rLAM7STHmOis</string>
	<key>oauthRedirectURI</key>
	<string>com.salesforce.barista.Consumer://oauth2/success</string>
	<key>oauthScopes</key>
	<array>
		<string>web</string>
		<string>api</string>
	</array>
	<key>shouldAuthenticate</key>
	<true/>
</dict>
</plist>
