<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	android:versionCode="1"
	android:versionName="1.0"
	android:installLocation="internalOnly">

	<application android:icon="@drawable/sf__icon"
	    android:label="@string/app_name"
		android:name=".MainApplication"
		android:manageSpaceActivity="com.salesforce.androidsdk.ui.ManageSpaceActivity">

		<!-- Launcher screen -->
		<activity android:name=".MainActivity"
		    android:label="@string/app_name"
			android:theme="@style/SalesforceSDK"
			android:exported="true">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

		<!-- Login activity -->
		<!--
            This activity delivers the browser callback Intent to the SDK LoginActivity
            for browser based (advanced) authentication. The scheme, host and path below
            are populated from your connected app's callback URL.

            For example, if the callback URL of your connected app is
            "testsfdc:///mobilesdk/detect/oauth/done",
            'scheme' would be "testsfdc", 'host' would be empty ("") since it doesn't exist,
            and 'path' would be "/mobilesdk/detect/oauth/done".

            If the callback URL is "sfdc://login.salesforce.com/oauth/done",
            'scheme' would be "sfdc", 'host' would be "login.salesforce.com",
            and 'path' would be "/oauth/done".
        -->
		<activity
			android:name="com.salesforce.androidsdk.ui.LoginActivity"
			android:exported="true"
			android:launchMode="singleTask"
			android:theme="@style/SalesforceSDK">
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.BROWSABLE" />
				<data
					android:scheme="__INSERT_CALLBACK_URL_SCHEME_HERE__"
					android:host="__INSERT_CALLBACK_URL_HOST_HERE__"
					android:path="/__INSERT_CALLBACK_URL_PATH_HERE__" />
			</intent-filter>
		</activity>

	</application>
</manifest>
